/*** Admin edit général ***/
.control-label {
    float: left;
    width: 150px;
    text-align: right;
    padding: 5px;
}
.form-control {
    width: 600px;
}
.tab-content>.tab-pane {
    border: 1px solid silver;
    padding: 10px;
    overflow: auto;
}
.form-group { clear: both; }
div.select2-container { width: auto !important;}
div.select2-container-multi { width: 505px !important;}
.sonata-ba-field {display: inline;}
.select2-container.select2-allowclear .select2-choice abbr.select2-search-choice-close { display: none;}
.a2lix_translations.tabbable {clear:both;}
.form-group[id$='translations']>.control-label{ display:none;}
.mce-panel { 
    clear: both; 
    margin-top: 10px;
}
.preview-img {clear: both;display: block;}