<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_bRKL5eJi4tc9TmWOaUtc0y47"
    data-amount="12.99"
    data-name="MyAbos"
    data-description="Une résiliation automatique de contrar"
    data-image="/128x128.png"
    data-locale="auto">
  </script>
</form>