{% extends 'AppFrontOfficeBundle:Contract:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
			        <a href="{{ path("app_front_office_contract") }}" class="btn btn-danger">Ajouter un contrat</a>
			        <a href="#" class="btn btn-danger">Résilier un contrat</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}