{% extends 'AppFrontOfficeBundle:Resiliation:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
	      	<h2>Résilier un contrat</h2>
	      	<h3>Choix du mode de résiliation</h3>
	      	<div class="col-md-6">
	      		<div class="clearfix">
	      			<a href="{{ path("app_front_office_resiliation_payment", { 'id': app.request.get('id') }) }}" class="btn btn-danger btn-lg col-md-6 col-md-offset-3">JE VEUX QUE MYABOS<br /> RÉSILIE POUR MOI<br /> POUR 12,99€</a>
	      		</div>
	      		<div class="col-md-10 col-md-offset-1 text-justify"><br />Nous nous occupons de tout : rédaction de votre lettre de résiliation et envoi du courrier recommandé à votre fournisseur. Vous recevez la confirmation par mail et l'accusé de réception du destinataire par la Poste. Les frais d'envoi de recommandé avec accusé de réception (6€) sont inclus.
					Le tableau de suivi de vos contrats est alors mis à jour automatiquement pour indique que ce contrat est résilié. </div>
	      	</div>
	      	<div class="col-md-6">
	      		<div class="clearfix">
	      			<a href="#" class="btn btn-danger btn-lg col-md-6 col-md-offset-3">JE RÉSILIE MOI-MÊME<br /> MANUELLEMENT</a>
	      		</div>
	      		<div class="col-md-10 col-md-offset-1 text-justify"><br />Vous préférez rédiger et envoyer vous-même votre courrier ? Pas de problème ! Nous vous laissons faire les démarches et vous rendre ensuite sur votre tableau de bord "Gestion de mes contrats" pour indiquer manuellement que le contrat a été résilié. </div>
        	</div>
        </div>
    </div>
{% endblock %}