{% extends 'AppFrontOfficeBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
					{% include "AppFrontOfficeBundle:Contract:show.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}