{% extends '::back-office.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
					<a href="{{ path('app_back_office_category') }}">Catégorie</a>
					<a href="{{ path('app_back_office_provider') }}">Annonceur</a>
					<a href="{{ path('app_back_office_cause_resiliation') }}">Motif de résiliation</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}