<div id="BandeauInfoCookie">
	En poursuivant votre navigation sur notre site, vous acceptez l’utilisation de cookies afin de nous permettre d’améliorer votre expérience utilisateur.
	<span id="LienInfosCookie"><a onclick="getInfosCookie(); return false;" title="En savoir plus" alt="En savoir plus" target="_blank">En savoir plus</a></span>
	<a onclick="localStorage['BandeauInfoCookie'] = 1;getConteneurInfoCookie();return false;" title="OK" style="cursor:pointer;"><span id="ConteneurOk">OK</span></a>
</div>
<div id="ConteneurInfosCookie" style="display: none;">
<div id="ContenuInfosCookie" class="texte_catalogue">
	<div style="float: right;"><span id="CroixClose" title="Fermer" onclick="getInfosCookie(); return false;">&nbsp;✖</span></div>
	<span style="text-decoration:underline;">Qu'est-ce qu'un cookie ?</span><br>
	Un cookie est une information déposée, par votre navigateur, sur votre ordinateur (ou périphérique portable), à la demande des sites (et autres serveurs Web avec lesquels ils interagissent) que vous visitez.<br>
	Il contient plusieurs données d'identification et de navigation, stockées dans un fichier.<br>
	<br><br>
	<span style="text-decoration:underline;">Les cookies utilisés sur notre site</span><br>
	Les cookies sont émis par nous-mêmes dans le but de :<br>
	- collecter des informations relatives à votre navigation,<br>
	- mémoriser vos informations d'identification sur notre site,<br>
	- gérer votre panier de commande.<br>
	Lorsque vous accédez à notre site depuis un site partenaire, un cookie spécifique est susceptible d'être émis dans le but d'établir des statistiques de fréquentation en provenance de ce site partenaire.<br>
	<br><br>
	<span style="text-decoration:underline;">Les cookies tiers</span><br>
	D'autres cookies sont susceptibles d'être émis par des services externes utilisés sur notre site pour l'analyse d'audience et la mesure de performances.<br>
	<br><br>
	<span style="text-decoration:underline;">Le paramétrage des cookies</span><br>
	En poursuivant votre navigation sur notre site, vous acceptez l'utilisation des cookies.<br>
	Vous pouvez cependant choisir de les désactiver à tout moment en paramétrant votre navigateur.<br>
	Les règles de paramétrage des cookies varient selon les navigateurs. Pour connaître leur fonctionnement et les personnaliser, rendez-vous dans le menu d'aide de votre navigateur.<br>
	Attention : tout paramétrage entrepris sur votre navigateur Web, concernant l’acceptation ou le refus des cookies, sera susceptible de modifier votre navigation sur Internet et sur notre site, ainsi que vos conditions d'accès à certains services nécessitant l'utilisation de ces mêmes cookies. <br>
	</div>
</div>