<div class="container-header">
    {%  render(controller('AppBundle:Front:menuHeader', {'route': route })) %}
    <div class="lang pull-right">
    	<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('bundles/app/images/general/drapeauEn.gif') }}" alt="langue fr" /></a>
 		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('bundles/app/images/general/drapeauFr.gif') }}" alt="language en" /></a>
    </div>          
</div>
