<div class="container-header">
    {%  render(controller('AppBundle:Front:menuHeader', {'route': route })) %}
    <div class="lang pull-right">
    	{% set currentPath = path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) %}
    	<a href="http://www.kitesurfeo.com{{ currentPath }}"><img src="{{ asset('bundles/app/images/general/drapeauEn.gif') }}" alt="langue fr" /></a>
 		<a href="http://www.kitesurfeo.fr{{ currentPath }}"><img src="{{ asset('bundles/app/images/general/drapeauFr.gif') }}" alt="language en" /></a>
    </div>          
</div>
