<div class="container-header">
    <div class="title">
        <h1>Réseau de croisières kite aux Caraïbes</h1>
        <a class="logo" href="{{ path("homepage") }}"><img src="{{ asset('bundles/app/images/logo.png') }}" alt="logo kitesurfari" /></a>
    </div>
    <div>
        {%  render(controller('AppBundle:Front:searchHeader')) %}
    </div>
</div>