{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/liens.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - Liens{% endblock %}

{% block content %}
    <h1>Liens</h1>
{% endblock content %}