.slider .slick-prev {left: 10px;}
.slider .slick-next {right: 10px;}
.slider .slick-prev,
.slider .slick-next {width: 22px;height: 20px;border-radius: 10px;}
.slider .slick-prev:before,
.slider .slick-next:before {font-size: 24px; background: white; opacity: 1; color: black; border-radius: 30px;}
h1 {background: #5bc0de; font-size: 2.5em; padding: 0px 10px 0px 0px;margin: 0 0 10px 18px;color: white;line-height: 2.5em;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;}
.block-description-bateaux { margin: 0; background: #5bc0de; padding: 10px; }
.block-croisiere .row { margin: 10px; text-align:left;}
.panel-info .panel-body-padding{ padding: 1px;}

/*** Page Boats ***/
.row-bateau .bateau:last { margin-right: 0%;}
.bateau {width: 30%; margin: 10px 5% 0px 0px; overflow: auto;padding: 0;font-weight: normal;text-align: left;}
.bateau .panel-body {padding: 0;}
.bateau .panel-heading {text-align: center;}
.bateau .col-md-4 {	text-align: center;	padding: 1px;}
.bateau-last { margin-right: 0;}
.bateau h2 {font-size: 1.2em;margin: 8px 0;	text-align: center;}

.bateau .bateau-prix-semaine {background: #5bc0de; color:white; text-align: center; margin: 0;overflow: auto;padding: 5px; }
.bateau .bateaux-icones { float: left; padding: 5px; }
.bateau .bateaux-description {clear: both;text-align: justify;padding:0 10px;}
.bateau .btn-warning {margin: 10px;}
.boat-tarif-pour { font-size: 0.9em; }

.boat-contact-step2-loading {display: none; position: absolute; z-index: 1000; width: 25%; height: 20%; top: 40%; left: 33%;padding: 10px; background: black; opacity: 0.8}
.boat-contact-step2-loading img {height: 80%;margin: auto;}
/*** Sous-menu ***/
.bateau-home { background-image: url("../images/menu/icones/icon-accueil.png"); }
.bateau-fiche { background-image: url("../images/menu/icones/icon-boat-details.png"); }
.boat-crew { background: url("../images/menu/icones/icon-equipages.png") no-repeat 5px center;
    margin: 5px 0;
    padding: 5px;padding-left: 40px;
    color: white;
    font-size: 1.5em;
    background-color: #5bc0de;
    border: 1px solid;
    border-radius: 4px;
    border-color: #bce8f1;
    box-shadow: 0px 0px 15px black;
}
.boat-desti { background: url("../images/menu/icones/icon-destinations.png") no-repeat 5px center;
  margin: 5px 0;padding: 5px;padding-left: 40px;	
  color: white;
  font-size: 1.5em;
  clear: both;
  background-color: #5bc0de;
  border: 1px solid;
  border-radius: 4px;
  border-color: #bce8f1;
  box-shadow: 0px 0px 15px black;
}
.bateau-price { background-image: url("../images/menu/icones/icon-price.png"); }
.bateau-contact { background-image: url("../images/menu/icones/icon-contact.png"); }
.boat-available { background: url("../images/menu/icones/icon-calendar.png") no-repeat 5px center;
  margin: 5px 0;
  padding: 5px;padding-left: 40px;
  color: white;
  font-size: 1.5em;
  background-color: #5bc0de;
  border: 1px solid;
  border-radius: 4px;
  border-color: #bce8f1;
  box-shadow: 0px 0px 15px black;
}
.boat-price { background: url("../images/menu/icones/icon-price.png") no-repeat 5px center;
  margin: 0;
  padding: 5px;padding-left: 40px;
  color: white;
  font-size: 1.5em;
}

.boat-center { padding: 0; }
.boat-center .col-md-6 { padding: 5px; }
.boat-center .col-md-8, .boat-center .col-md-4 {padding: 0;}
.boat-center .col-md-8 {padding-right: 10px;}

/*** Boat présentation ***/
.skipper-boat-description {overflow: auto; margin-bottom: 10px;}
.img-details {padding: 0; padding-left: 1%;}
.img-detail { margin: 1%; width: 48%; padding: 5px;}
.bateau-photo .col-md-2 { width: 20%; }
.boat-prestation { padding: 0; }
.prestation { overflow: auto; clear: both; margin: 5px auto; padding: 5px; }
.prestation img { margin-right: 5px;}
/*** Page boat spec ***/
.boat-spec-content {border: 0;}
.boat-spec-content.multiline {border: 0; padding: 5px;}

.col-fiche-bateau .block-boat-spec {overflow: auto;	margin: 0px; border: 1px solid white; background: #d9edf7; color: black; border-radius: 4px;}
.col-fiche-bateau img {	background: #d9edf7; padding: 5px; border-right: 2px solid white;margin-right: 10px;border-radius: 4px;}
.col-fiche-bateau h3 {background: #5bc0de; font-size: 1.1em; padding: 10px; margin: 0;color: white;}

/*** Boat - crew ***/
.fade-caption { opacity: 0; text-align: left; padding: 15px;overflow:hidden;}
.caption { background-color: rgba(0,0,0,0.8);
	height: 170px;
  position: absolute;
	left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  margin: 0px 15px 0 15px;
}
.skipper p { text-align:justify; font-size:0.9em;}
.skipper {display: block; }
.skipper img { max-height: 100%; }
.skipper:hover .fade-caption, .skipper:hover .scale-caption {
  opacity: 1;
}
.skipper img {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/*** Boat - Destinations ***/
.collapse .well { overflow: auto;}
/*** Boat Disponibilités ***/
table.month { border: 1px solid black; margin: auto;}
.month th { text-align: center; background: #5bc0de; color: white; padding:0px;font-weight: normal;}
.month td { text-align: center; border: 1px solid black; }
.legend.active { margin: 1px; border-radius: 3px; background: white; }
.ligne { overflow: auto; margin-bottom: 10px;}
.boat-available-legend { margin: 10px; }
.legend  { border: 1px solid black; width: 20px; border-radius: 0; padding-left: 4px; }
td.libelleLegend { padding-left: 5px;}
.legend div {  padding: 1px 5px; }

/*** Boat tarif ***/
.subblock-periode table td { border: 1px solid black;padding: 5px;}
.periode-table-personne { text-align: center; }
.periode-table-title {background: #5bc0de; text-align: left;color: white; }
.panel-inclus-prix .col-md-6 { padding: 5px;}
.panel-inclus-prix .odd { background: #5bc0de;color: white;padding: 5px;}
.service-payant-categorie {display:block; float:none;clear: both;}
 /*** Boat devis ***/
.col-devis {padding:5px;}
.col-devis .panel { overflow: auto; }
.col-devis label { width: 35%;text-align: right;color: black;font-weight: normal; }
.col-devis .select-itineraire-devis, .col-devis .input-date-depart-devis, .col-devis .input-date-retour-devis { width: 60%; }
.optionspayantes-subblock {overflow: hidden; }
hr { margin: 0; padding: 0;}
.optionspayantes-subblock .col-name,
.optionspayantes-subblock .col-price {float: left; width: 48%;}
.optionspayantes-subblock .col-checkbox {float: left; width: 4%;}
.panel-message textarea { height: 100px;}
.panel-message textarea, .panel-message input { width: 100%;margin-bottom: 10px;}
.loading { display: none; position: absolute; z-index: 1000; top: 0; left: 0; width: 100%; height: 92%; padding: 37%;background: black; opacity: 0.8;}
.btn-sent {	display: none;margin: 10px auto;}