.block-description-destinations {
	margin: 0 0 10px 0;
	color: black;
	padding: 10px;
}

ul.menu-destinations {
	float: left;
	width: 25%;
	list-style: none;
	padding: 0px;
	background: #d9edf7;
}

ul.menu-destinations a {
	color: white;
	background-color: #5bc0de;
  	border-color: #46b8da;
	display: block;
	padding: 5px;
	border:1px solid;
}

ul.menu-destinations a:hover {
	color: white;
	background-color: #39b3d7;
  	border-color: #269abc;	
	text-decoration: none;
}

iframe {
	width: 75%;
}

/*** Page Destination ***/
.destination-header {
	overflow: auto;
	margin: 0;
}
.destination-body {
	overflow: auto;
	padding-top: 10px;  
	text-align: justify;
}
h1.destinations {
	font-size: 3em;
	padding: 20px;
	margin: 0;
	color: white;
	text-shadow: 0 0 3px black;
	position:absolute;
	right: 30px;
}

.block-bateau-destination {
	padding: 0;
}

.block-bateau-destination .row {
	background: #d9edf7;
	padding: 10px;
	margin: 10px 0;
	text-align: left;
}

.block-bateau-destination .row a {
	color: #5bc0de;
}

h2.weather-forecast {
	font-size: 1.2em;
	padding: 5px;
	background: #127BBD;
	color: white;
	border: 1px solid black;
	margin-top: 10px;
}

.last-update {
	padding: 5px;
	margin: 5px 0;
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

.col-md-12 {
	padding: 0;
}

.col-md-weather {
	float: left;
	margin: 0.5%;
	width: 19%;
	padding: 0;
	overflow: auto;
	border: 1px solid #B3B3B3;
	box-shadow: 0px 0px 5px black;
}

.even {
	background: #5bc0de;
	color: white;
	padding-left: 5px;
}

#map-canvas {
	width: 50%;
	height: 300px;
	float: left;
	margin: 0 10px 10px 0px;
}