.footer { width: 100%; height: 35px;background: #127BBD; text-align: center;line-height: 35px;margin:10px 0;}
.footer a { color: white; text-decoration:none;}
.footer a:hover,.footer a:focus,.footer a:active { color: white; text-decoration:underline;}


.social { list-style: none;overflow:auto; background:#127BBD;float: left;margin:0;padding: 2px;}
.social li {float:left;display:inline;margin-left: 4px;}
.social li>a {display: block;width:31px; height:31px; background-repeat: no-repeat; background-position: 0 0;}
.social>li>a:hover, .social>li>a:focus {background-position: 0px -31px;}
.facebook { background-image: url("../images/icones/social/icon-sprite-facebook.png");}
.twitter { background-image: url("../images/icones/social/icon-sprite-twitter.png");}
.googleplus { background-image: url("../images/icones/social/icon-sprite-google-plus.png");}
.feed { background-image: url("../images/icones/social/icon-sprite-feed.png");}
.pinterest { background-image: url("../images/icones/social/icon-sprite-pinterest.png");}