/*** Admin list général ***/
.sonata-ba-list-field-batch {width:3%;text-align: center;}
.sonata-ba-list-field-boolean{width: 7%;text-align: center;}
.sonata-ba-list-field-header-actions { width: 180px;text-align: center;}