.nav-accueil {      background-image: url("../images/menu/icones/icon-sprite-accueil.png");}
.nav-offres {       background-image: url("../images/menu/icones/icon-sprite-offres.png");}
.nav-prestations {  background-image: url("../images/menu/icones/icon-sprite-prestations.png");}
.nav-destinations { background-image: url("../images/menu/icones/icon-sprite-destinations.png");}
.nav-flotte {       background-image: url("../images/menu/icones/icon-sprite-flotte.png");}
.nav-equipages {    background-image: url("../images/menu/icones/icon-sprite-equipages.png");}
.nav-ensavoirplus { background-image: url("../images/menu/icones/icon-sprite-ensavoirplus.png");}
.nav-liens {        background-image: url("../images/menu/icones/icon-sprite-liens.png");}

.navbar {min-height: inherit;}
.navbar-nav>li { font-size:1em;}
.navbar-nav>li>a {border-right: 1px solid;border-radius:0;background-repeat: no-repeat; background-position: 10px 0px;color: white; text-transform: uppercase;padding: 0px 10px 0px 45px;line-height: 2em;margin: 5px 0;}
.navbar-nav>li:last-child >a{border-right: 0;}
.navbar-default .navbar-nav>li:hover>a, 
.navbar-default .navbar-nav>li:focus>a, 
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:hover, 
.navbar-default .navbar-nav>li.active>a:focus 
{color: white; background-color: #ed9c28; background-position: 10px -40px;}
.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>li:focus,
.navbar-default .navbar-nav>li:hover { color: white !important; background-color: #ed9c28; }
.block-newsletter {background:white; padding-right: 11px; }
.newsletter-message-container{ padding: 5px; width: 90%; margin: 10px auto;}
.newsletter {background: #127BBD; text-align: center; padding-bottom: 20px; }
.newsletter legend { color:white;border: 0; margin-bottom: 5px;border-top: 1px solid white; }
.newsletter-email { width: 60%;font-size: 0.7em;}
