.nav-accueil {      background-image: url("../images/menu/icones/icon-accueil.png");}
.nav-offres {       background-image: url("../images/menu/icones/icon-offres.png");}
.nav-destinations { background-image: url("../images/menu/icones/icon-destinations.png");}
.nav-flotte {       background-image: url("../images/menu/icones/icon-flotte.png");}
.nav-equipages {    background-image: url("../images/menu/icones/icon-equipages.png");}
.nav-ensavoirplus { background-image: url("../images/menu/icones/icon-ensavoirplus.png");}

.navbar-nav {margin-top: 10px; background: #d9edf7; border: 1px solid #31708f; color:#31708f; border-radius: 5px;}
.navbar-nav>li { font-size:1em;}
.navbar-nav>li>a {border-right: 1px solid;border-radius:0;background-repeat: no-repeat; background-position: 10px 0px;color: white; text-transform: uppercase;padding: 0px 10px 0px 45px;line-height: 2em;margin: 5px 0;}
.navbar-nav>li:last-child >a{border-right: 0;}
.navbar-nav>li:hover>a, .navbar-nav>li:focus>a, 
.navbar-nav>li.active>a, .navbar-nav>li.active>a:hover, .navbar-nav>li.active>a:focus,
.navbar-nav>.open, .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus
{color: white; background-color: #31708f;border-right: 1px solid #31708F;}
.navbar-nav>.open,
.navbar-nav>li:last-child>a:hover {border-right: 0;}
.navbar-nav>li>a { color: #31708f;}
.navbar-nav>li.active,
.navbar-nav>li:focus,

.nav>li>a:focus,
.navbar-nav>li:hover { border: 0; color: white !important; background-color: #31708f; }

.navbar-nav>li>.dropdown-menu { width: 600px; margin-left: -220px;  background: #d9edf7;}
.dropdown-menu a { color: #31708f;}
.dropdown-menu a:hover { text-decoration: none;  background: #31708f; color: white;}
.dropdown-menu li:hover { background-color: #31708f;cursor:pointer;}
.dropdown-menu .see-destinations { color: #31708f;padding: 5px;}
.dropdown-menu .see-destinations:hover { text-decoration: underline;}
.dropdown-menu li:hover a { color: white;}
.dropdown-menu li.menu-item-destination { padding: 5px;}
.dropdown-menu .divider {margin: 0;}
.block-newsletter {background:white; padding-right: 11px; }
.newsletter-message-container{ padding: 5px; width: 90%; margin: 10px auto;}
.newsletter {background: #127BBD; text-align: center; padding-bottom: 20px; }
.newsletter legend { color:white;border: 0; margin-bottom: 5px;border-top: 1px solid white; }
.newsletter-email { width: 60%;font-size: 0.7em;}
