.slider .slick-prev {left: 10px;}
.slider .slick-next {right: 10px;}
.slider .slick-prev,
.slider .slick-next {width: 22px;height: 20px;border-radius: 10px;}
.slider .slick-prev:before,
.slider .slick-next:before {font-size: 24px; background: white; opacity: 1; color: black; border-radius: 30px;}
h1 {background: #23B6E1; font-size: 1.2em; padding: 10px;margin: 0;}

.row-skipper { overflow: auto; }
.skipper { width:30%; background: #127BBD; padding: 10px; text-align: center; margin: 1%;margin-top:10px;color: white;}
.skipper:hover { background: #23B6E1; color: black; border: 1px solid black;}
.skipper p { text-align:left; font-size:0.9em;}
.block-croisiere { float: right; width: 30%; border: 1px solid black; padding: 10px;text-align:center;margin-top:10px; }
.block-croisiere .row { margin: 10px; text-align:left;}

.skipper-contact-step2-loading {display: none; position: absolute; z-index: 1000; width: 25%; height: 20%; position: absolute; top: 40%; left: 33%;padding: 10px; background: black; opacity: 0.8}
.skipper-contact-step2-loading img {height: 80%;}
/*** Page Skipper ***/
.block-skipper-submenu { display: table; width: 100%; margin-bottom: 10px; }
.block-skipper-submenu a { display: table-cell; width: 17%; color: white;background-repeat: no-repeat; background-position: 5px -30px; background-color: #127BBD; padding: 10px 0 10px 35px; font-size: 0.9em; text-align: center; }
.block-skipper-submenu a:hover,
.block-skipper-submenu a.active { text-decoration: none; color: black; background-repeat: no-repeat; background-color: #23B6E1; background-position: 5px 5px;background-color: #23B6E1; }

.skipper-home { background-image: url("../images/icones/boat/icon-skipper-25%20pix.png"); }
.skipper-boat { background-image: url("../images/icones/boat/icon-boat%20file-25%20pix.png"); }
.skipper-desti { background-image: url("../images/icones/boat/icon-itineraires-25%20pix.png"); }
.skipper-available { background-image: url("../images/icones/boat/icon-disponibilites-25%20pix.png"); }
.skipper-price { background-image: url("../images/icones/boat/icon-tarifs-et-options-25%20pix.png"); }
.skipper-contact { background-image: url("../images/icones/boat/icon-devis-et-contact-25%20pix.png"); }

.boat-block-special-offer .offreName { margin: 0; margin-bottom: 10px; padding:10px; color: white; background: #127BBD; font-size: 1.2em; }
.boat-block-special-offer .boatName { padding:5px; font-size: 1em; }
.boat-block-special-offer { text-align: center; border: 1px solid #B3B3B3; margin: 10px 0 0 0; padding: 0;  overflow: auto; }
.boat-block-special-offer h3 { background: #23B6E1; color:white; text-align: center; margin: 0;padding: 5px;  font-size: 1.5em; }
.boat-block-special-offer .img-responsive { margin: 10px; }
.boat-block-special-offer .bateau-prix-semaine {background: #23B6E1; color:white; text-align: center; margin: 0; }
.boat-block-special-offer .bateaux-icones { float: left; padding: 5px; }
.boat-block-special-offer .bateaux-description {clear: both;text-align: justify;padding:0 10px;}
.boat-block-special-offer .btn-warning {margin: 10px;}

.col-offre-speciale  {padding: 0;}
.boat-tarif-pour { font-size: 0.8em;}
/*** Skipper - Destinations ***/

.boat-desti h3 { font-size: 1.2em;padding: 5px;border: 1px solid black;margin: 0; background: #23B6E1; color: black; }
.boat-desti-itineraire { overflow: auto; border: 1px solid #B3B3B3; padding: 5px; }
.boat-desti h3 .boat-desti-localisation {margin: 0 0 10px 0; }
.boat-desti-block-localisation { padding: 5px;}
.boat-desti h3.cible { background: #127BBD; color: white; }
.boat-desti h3.cible.title-hover { background: #23B6E1; color: black; }
.boat-desti h3.cible:hover { cursor: pointer; background: #23B6E1; color: black; }

/*** Skipper - Disponibilités ***/

table.month { border: 1px solid black;}
.monthname th { text-align: center; background: #127BBD; color: white; font-weight: bold; padding:5px;}
.month td { text-align: center; border: 1px solid black; }
td .active { margin: 1px; border-radius: 3px; background: lightgrey; }
.ligne { overflow: auto; margin-bottom: 10px;}
.tableLegend { display: inline-block; margin-right: 10px; }
td.legend  { border: 1px solid black; width: 20px; border-radius: 0; }
td.libelleLegend { padding-left: 5px;}
.legend div {  padding: 1px 5px; }

/*** Skipper - Boat ***/
.offrespeciale-boat-description { overflow:auto; margin-bottom: 5px;}
.offrespeciale-boat-description h2 { text-align: center;margin: 5px;}
.col-fiche-bateau{ border: 3px solid #23B6E1; margin:0px;padding:0;}
.col-fiche-bateau .block-boat-spec { overflow: auto;  margin: 0px 10px; border: 1px solid white;background: #127BBD;color:white;}
.col-fiche-bateau img {background: #23B6E1;padding: 5px;border-right: 2px solid white;margin-right:10px;}
.offre-boat-img { margin: 1%; width: 48%; padding: 0;}
.col-fiche-bateau h3 {background: #23B6E1; font-size: 1.1em; padding: 10px; margin: 0;font-weight:bold;}
.btn-contact {margin-bottom: 10px;}
.boat-spec-content {border: 0;line-height: 50px;}
.boat-spec-content.multiline {border: 0;line-height: normal; padding: 5px;}

/*** Skipper tarif ***/
.tarif-accordion { margin: 10px auto; padding-top: 0;}
#tarifBateau h2 {margin: 0; background: #23B6E1; color: black; padding: 5px; border: 1px solid black;font-size:1.4em; }
#tarifBateau h3 { font-weight: bold; font-size: 1.2em;padding: 5px;background: #127BBD; color: white; border: 1px solid black;margin: 0; }
#tarifBateau h3:hover { cursor: pointer; background: #23B6E1; color: black; }
#tarifBateau h3.title-hover { background: #23B6E1; color: black; }
.subblock-periode { margin: 0 0 10px 0;border: 1px solid #B3B3B3;  padding: 5px;overflow: auto;}
.subblock-periode table td { border: 1px solid black;padding: 10px; color: black;}
.periode-table-personne { text-align: center; }
.periode-table-title {background: #23B6E1; text-align: left; }
.odd { background: #127BBD;color: white;}
.even { background: #23B6E1;color: black;}
.tarif-accordion .even, .subblock-periode .odd { padding: 5px;margin: 1px; }
.service-payant-categorie {display:block; float:none;clear: both;}
.tarif-accordion .col-md-6 { border: 1px solid white;padding:0; }
.tarif-accordion .servicepayant div {margin: 0;padding:5px;}

/*** Skipper devis ***/
.col-devis { border: 1px solid #B3B3B3; padding: 0;}
.col-devis h2 { margin: 0; background: #127BBD; padding:5px; font-size: 1.1em; color: white; }
.col-devis .row { padding: 5px 10px; margin: 10px; color: black;}
.col-devis .odd { background: #127BBD;padding: 5px;}
.col-devis .even { background: #23B6E1;padding: 5px;clear: both;}
.col-devis .row label { width: 215px;text-align: right;}
.col-devis .row label.label-date-retour { width: 50px; }
.col-devis .optionspayantes { padding: 10px; margin: 10px; border: 3px solid #23B6E1; overflow: auto;}
.col-devis .optionspayantes .col-md-5 { width: 45%; padding: 5px 10px; margin: 1%; color: black;}
.col-devis .optionspayantes .col-md-1 { width: 3%; height: 25px;padding: 5px 10px;  margin: 1%;}
.input-date-depart, .input-date-retour { width:90px;}
.select-portdepart, .select-destination {width: 150px;}
.col-right-devis { position: fixed; right: 0; width: 20%; overflow: auto; padding-bottom: 10px; margin-bottom: 10px;}
.bloc-final-price { background: white; text-align: center; margin: auto; padding:10px;}

.devis-option-wanted {margin-bottom: 10px}
.recap-textarea-message { border: 1px solid black; background: white; padding: 10px; margin: 10px;}
.btn-send-to-skipper,
.btn-modifier  {margin: 0 10px 10px 0; }
