html, body {font-size: 14px; font-family: 'Signika', Verdana,sans-serif;}
.panel-info { box-shadow: 0px 0px 15px black; }
.panel-info>.panel-heading { color: white; background-color: #5bc0de; }
.panel-info .panel-body {padding: 10px;}
.container-body {padding-bottom: 30px; background-color: #EFF1F2;}
.tab-content { overflow: auto; border: 1px solid #5bc0de; padding: 10px; box-shadow: 0px 0px 15px black; }
.img-menu {width: 20px; margin-right: 5px; }
label { font-weight: normal; }
.margintop10 { margin-top: 10px; background-color: #EFF1F2; }
.newsletter-message-container { display: none; }

.slick-slider {	margin-bottom: 10px !important;}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before { color: black; }
.slick-slider .slick-prev{ left: 5px; }
.slick-slider .slick-next { right: 5px; }
.slick-slider .slick-prev, .slick-slider .slick-next { z-index: 20; }