/*** Admin edit général ***/
.control-label {
    float: left;
    width: 150px;
    text-align: right;
    padding: 5px;
}
.form-control {
    width: 600px;
}
.tab-content>.tab-pane {
    border: 1px solid silver;
    padding: 10px;
    overflow: auto;
}
div.select2-container { width: auto !important;}
div.select2-container-multi { width: 505px !important;}
.sonata-ba-field {display: inline;}
.select2-container.select2-allowclear .select2-choice abbr.select2-search-choice-close { display: none;}
.a2lix_translations.tabbable {clear:both;}
.control-photo {
    width: 63px;
}
.control-miniature {
    width: 70px;
}
.form-group[id$='translations']>.control-label{ display:none;}
.mce-panel { 
    clear: both; 
    margin-top: 10px;
}
.form-group[id$='photo1File'],
.form-group[id$='photo2File'],
.form-group[id$='photo3File'],
.form-group[id$='photo4File'],
.form-group[id$='photo5File']{ width: 300px; display: inline;}
.form-group[id$='published'] { clear: both; }
.preview-img {clear: both;display: block;}
.control-photo1 { clear: both;}
/*** Fin Admin edit général ***/
/*** Début Skipper ***/
.skipper-avatar {
    float: left;
    width: 14%;
    padding: 0;
    height: auto;
}
.skipper-name {
    float: left;
    width: 30%;
}
.skipper-email {
    width: 30%;
}
.control-avatar,
.control-name,
.control-email {
    width: 105px;
}
.control-languages-spoken {
    width: 112px;
}
.skipper-photo {
float: left;
width: 14%;
padding: 0;
height: auto
}
.control-description {
    display: none;
}
.form-group[id$='yearsSailing'],
.form-group[id$='yearsSailingCarribean'],
.form-group[id$='yearsKiteSurfing'],
.form-group[id$='yearsKiteCruise'],
.form-group[id$='languagesSpoken'],
.form-group[id$='kitesurfInstructorSince'] { float:left;}
.form-group[id$='yearsSailing'], .form-group[id$='yearsSailingCarribean'] { clear: both;}
.skipper-professional-since { float:left; width: 200px;}
.control-annee-navigation { width: auto; float: none; display: inline;}
.skipper-kitesurf-certification-date,
.skipper-date-certification { width: 305px; }
.control-annee-navigation-caraibes { width: auto; float: none; display: inline;}
.control-annee-kitesurfing { width: 185px;}
/*** Fin Skipper ***/
/*** Début Destination ***/
.destination-miniature {     
    float: left;
    width: 148px;
    padding: 0;
    height: auto;
}
.destination-photo {
float: left;
width: 14%;
padding: 0;
height: auto
}
.form-group[id$='linkgmap'] { float:left;}
.destination-lien-google-map {
    width: 700px;
    float: left;
}
/*** Fin Destination ***/
/*** Début Itinéraire ***/
.form-group[id$='portDepart'],
.form-group[id$='destination'] { float:left;}
.itineraire-miniature {     
    float: left;
    width: 148px;
    padding: 0;
    height: auto;
}
/*** Fin Itinéraire ***/
/*** Début Prestation ***/
.prestation-icone,
.prestation-photo {
    float: left;
    width: 148px;
    padding: 0;
    height: auto
}

/*** Fin Prestation ***/
/*** Début Bateau ***/
.bateau-miniature,
.bateau-photo {
    float: left;
    width: 148px;
    padding: 0;
    height: auto
}
.bateau-longueur,
.bateau-largeur,
.bateau-tirantdeau {float:left; width: 100px;}
.bateau-reservoircarburant { width: 200px; }
.control-bateau-longueur,
.control-bateau-largeur,
.control-bateau-tirantdeau {width: 100px;}
.control-moteur,
.control-surfacegrandvoile,
.control-bateau-equipement { clear: both;}
.control-bateau-equipement {  width:200px;}
.bateau-list-radio {float: left; width: 16%}
.bateau-list-radio li { display: block; float: left;}
.form-group[id$='destination'] { float:left;}
.control-bateau-inclusequipage,.control-bateau-fraisvoyage { clear: both};
.bateau-inclusequipage { float:left;}
.control-bateau-nbcabine,
.control-bateau-nbdouche,
.control-bateau-nbequipier,
.control-bateau-type,
.control-bateau-skipper{ width: 120px; }
.bateau-inclusprix-frais {width: 500px;display: block;float: left;}
.form-group[id$='inclusPrixEquipage'],
.form-group[id$='inclusPrixAvitaillement'] { clear: both;}
/*** Fin Bateau ***/
/*** Début Services payants ***/
.optionpayante-miniature {float: left;width: 148px;padding: 0;height: auto;}
.optionpayante-list-radio { float: left; display: block;}
.optionpayante-list-radio-devise li {width: 40px;text-align: center;margin-top: 5px;float: left;}
.optionpayante-list-radio-categorie li {float: left; width: 350px;}
.optionpayante-frais { float: left; width: 60px;}
.control-optionpayante-categorie { clear: both; }
.control-optionpayante-devise { float: left; width: 65px; }
.control-optionpayante-bateau,
.control-optionpayante-prestation,
.control-optionpayante-categorie { width: 300px; }
.control-optionpayante-frais { width: 180px; }
.form-group[id$='prestation'],
.form-group[id$='fraisSupplementaires'] { clear:both;}
.form-group[id$='prestation'] { margin-bottom: 0px; }
.control-optionpayante_description { display: block; }
/*** Fin Services payants ***/
/*** Début Inclus Prix ***/
.inclusprix-list-radio {float: left; display: block;}
.inclusprix-list-radio-categorie li {float: left; display: block; width: 350px;}
.inclusprix-miniature {float: left;width: 148px;padding: 0;height: auto;}
.control-inclusprix-prestation { width: 300px;}
/*** Fin Inclus Prix ***/
/*** Début Croisiére ***/
.tarifcroisiere-tarifdeuxpersonne,
.tarifcroisiere-tariftroispersonne,
.tarifcroisiere-tarifquatrepersonne,
.tarifcroisiere-tarifcinqpersonne,
.tarifcroisiere-tarifsixpersonne,
.tarifcroisiere-tarifseptpersonne,
.tarifcroisiere-tarifhuitpersonne {width: 80px;
                                    border: 1px solid grey;
                                    margin-bottom: 0;}
.form-group[id$='dateDebut'],
.form-group[id$='dateFin'] { width: 30%; float:left; }
.croisiere-miniature {     
    float: left;
    width: 148px;
    padding: 0;
    height: auto;
}
/*** Début Itinéraire croisière ***/
.control-croisere-datenondisponibilite { width: 180px;}
span[id$='dateNonDisponibilite'] table { width: 30%;}
/*** Fin Itinéraire ***/