{% extends "FOSUserBundle::layout.html.twig" %}
 
{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans() }}</div>
{% endif %}
{% include "AppMainBundle:Security:login_content.html.twig" %}
{% endblock fos_user_content %}