<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <input type="text" class="center-block email" id="username" name="_username" value="{{ last_username }}" placeholder="Adresse mail" />
 	<input type="password" class="center-block password"  id="password" name="_password" placeholder="Mot de passe" />
    
    <div class="center-block">
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>
 	<input type="submit" class="btn btn-danger" id="_submit" name="_submit" value="Accéder à la plateforme" />
 
</form>